@charset "utf-8";
@use "sass:color";

/* Import a bit of Bulma */
@import "bulma/sass/utilities/initial-variables.sass";

$palette-cream: #fdf6eb;
$palette-cream-active: #fbecd4;
$palette-red: #d14f4f;
$palette-brown: #826c5f;
$palette-linen: #ebe2d7;
// $palette-olive: #A1AC86;
$palette-olive: #a2ac87;
$palette-whatsapp: #24d366;

$red: $palette-red;
$link: $palette-red;
$success: $palette-whatsapp;

// $family-sans-serif: 'Poppins';
$family-sans-serif: "Commissioner";

/* Use navbar is-light with this */
$white-ter: $palette-cream;

/* [override] Disable fullHD breakpoint */
$fullhd-enabled: false;

/* [override] flat forms */
$input-shadow: none;
$control-border-width: 2px;

/* [override] flat cards */
$card-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 2px rgba($black, 0.1);
$card-footer-border-top: 2px solid $grey-lighter;

/* [override] flat tables */
$table-cell-border-width: 0 0 2px !default;

/* Hr should look like media, slightly darker than normal */
$media-border-color: rgba($grey-lighter, 0.5) !default;
$hr-background-color: $media-border-color;

/* Set up sensible design defaults */
$footer-background-color: $grey-darker !default;
$footer-color: $white !default;

$navbar-height: 8rem !default;

// Image natural height is 186px
$navbar-item-img-max-height: 93px !default;

$body-line-height: 1.7;

@import "bulma/bulma.sass";

:root {
  // create a variable
  --palette-cream: #{$palette-cream};
  --palette-cream-active: #{$palette-cream-active};
  --palette-red: #{$palette-red};
  --palette-brown: #{$palette-brown};
  --palette-linen: #{$palette-linen};
  --palette-olive: #{$palette-olive};
  --text: #{$text};
}

/* Theme-wide tweak */
.title {
  font-weight: 200;
  text-transform: uppercase;
}

.magic-underline {
  position: relative;
}

.magic-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -1px;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: $text;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.magic-underline--white:after {
  background: $white;
}
.magic-underline:hover:after {
  width: 100%;
}
